html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", sans-serif;
  min-width: 1020px;
  min-height: 400px;
  background: #B9CBCF;
}

.sprite-btn {
  display: inline-block;
  text-decoration: none;
  text-indent: -999999px;
  vertical-align: middle;
}

#top {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 400px;
  color: white;
  background-color: rgb(44, 41, 41); /* layer fill content */
}

#my-pads {
  position: absolute;
  background-color: #165260;
  width: 120px;
  height: 36px;
  right: 230px;
  top: 27px;
  cursor: pointer;
  cursor: hand;
  color:white;
}

#my-pads-list {
  border: 1px solid #1b5ee9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  right: 230px;
  top: 59px;
  max-height: 150px;
  overflow-y: auto;
  width: 150px;
  z-index: 10;
  display: none;
}

.my-pads-item {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

#my-pads-list a {
  font-size: 15px;
  color: #0088cc;
  margin: 5px 10px;
  cursor: pointer;
  cursor: hand;
  display: inline-block;
}

#my-pads-list a:hover {
  text-decoration: underline;
  color: #eb8717;
}

#create-pad {
  position: absolute;
  background-color: #165260;
  width: 190px;
  height: 36px;
  right: 30px;
  top: 27px;
  cursor: pointer;
  cursor: hand;
}

#firepad-container {
  position: absolute;
  left: 30px;
  top: 80px;
  right: 30px;
  bottom: 125px;
  background: white;
  /* TODO: Tune these more? */
  -moz-box-shadow: 0 5px 25px #333;
  -webkit-box-shadow: 0 5px 25px #333;
  box-shadow: 0 5px 25px #333;
}

#firepad-container .firepad-userlist {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 175px;
  height: auto;
}

#firepad-container .firepad {
  position: absolute;
  left: 175px;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  height: auto;
}

#share-box {
  position: absolute;
  left: 30px;
  bottom: 40px;
  width: 650px;
  height: 56px;
}

#share-with-friends {
  font-size: 24px;
  color: white;
  text-shadow: 0 0 3px #555;
}

#share-features {
  height: 35px;
}

#share-features tr {
  margin-right: 10px;
}

#description {
  position: absolute;
  bottom: 20px;
  right: 40px;
  width: 380px;
  height: 80px;
  font-size: 18px;
  color: #282828;
}

#url {
  width: 380px;
  height: 30px;
  border: 1px solid #a5a5a5;
  font-size: 14px;
  color: #a6a6a6;
  text-align: center;
  cursor: pointer;
}

a.powered-by-firepad {
  display: none;
  }